.nav__item {
  color: #414141 !important;
  padding-left: 3em !important;
  font-size: 20px;
}

#navbarScrollingDropdown {
  color: #414141;
  font-size: 20px;
  margin-right: 40px;
}

.search__form {
  display: none !important;
}

.button__signup {
  background-color: #5f2eea !important;
  color: #ffffff !important;
  border-color: #5f2eea !important;
  border-radius: 10px !important;
  margin-left: 50px !important;
  padding: 10px 35px !important;
  font-size: 20px !important;
}

.user__image {
  margin-left: 3em;
  height: 40px;
  width: 40px;
}
