.img-thumbnail {
  padding: 2em !important;
  width: 90%;
  border-radius: 0.7em !important;
}

.movieDetail {
  padding-top: 3em;
}

.movieDetail__desc h6 {
  padding-top: 0.3em;
  padding-bottom: 1em;
  color: #4e4b66;
  font-size: 17px;
}

.movieDetail__desc--section p {
  color: #8692a6;
  margin-bottom: 0em;
}

.movieDetail__desc--section h6 {
  margin-bottom: 0.3em;
}

.movieSyn {
  padding-top: 3em;
}

.movieSyn p {
  color: #4e4b66;
  text-align: justify;
  font-size: 1.1em;
}

.showtime {
  padding-top: 7em;
  padding-bottom: 4em;
}

.showtime h4 {
  text-align: center;
}

.showtime__filter {
  padding-top: 3em;
  padding-left: 12em;
  padding-right: 12em;
  display: flex;
  justify-content: center;
}

.showtime__filter input {
  width: 17%;
  background-color: #eff0f6;
  margin-right: 3em;
  color: #4e4b66;
}

.showtime__filter select {
  width: 17%;
  background-color: #eff0f6;
  margin-right: 4em;
  color: #4e4b66;
}

.showtime__schedule {
  border: 10px solid black;
  border-radius: 10px !important;
}

.showtime__schedule--image {
  padding: auto !important;
  height: 90% !important;
  width: 90% !important;
  margin-top: 1em;
  margin-left: 1em;
  margin-right: 1em;
  object-fit: contain;
}

.showtime__schedule--location {
  padding-top: 1em;
}

.showtime__schedule--time {
  padding: 0.2em 0.1em !important;
  margin-right: 1.8em !important;
  margin-left: 1em !important;
  justify-content: space-between !important;
  margin-bottom: 1.2em !important;
  background-color: #ffffff !important;
  color: #4e4b66 !important;
  border: none !important;
}

.showtime__schedule--ticket {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 1em !important;
  padding-right: 1em !important;
  padding-bottom: 1em;
}

.showtime__schedule--ticket__info h5 {
  color: #6b6b6b;
}

.showtime__schedule--book {
  width: 100%;
  background-color: #5f2eea !important;
}

.page {
  padding-top: 3em;
  padding-left: 12em;
  padding-right: 12em;
  margin: auto;
  justify-content: center;
  display: flex;
}

.page Button {
  padding: 0.5em 0.8em;
  background-color: #ffffff !important;
  color: #4e4b66 !important;
  border-radius: 0.3em;
  border-color: #dedede !important;
  margin-left: 1em;
}

.page Button:focus {
  background-color: #5f2eea !important;
  color: #ffffff !important;
  border-color: #5f2eea !important;
}
