.schedule__admin--page {
  background-color: #f5f6f8;
}

.schedule__admin--h2 {
  padding-left: 0px !important;
  padding-bottom: 10px;
  display: flex;
}

.schedule__admin--img {
  width: 63%;
  padding: 1em !important;
  margin-top: 2em;
  margin-left: 3em;
}

.schedule__admin {
  padding: 2em 7em;
}

.schedule__admin--form {
  padding-top: 2em;
  padding-right: 3em;
  background-color: #fcfdfe !important;
}

.schedule__date--range {
  display: flex;
}

.schedule__date--start {
  margin-right: 1em;
}

.schedule__premiere--button {
  background-color: #ffffff !important;
  border: none !important;
  margin-right: 1em;
}

/* .schedule__premiere--button:active {
  border: 1px solid #ffffff !important;
  margin-right: 1em;
  box-shadow: 1px 1px 1px 10px;
} */

.schedule__premiere__button--img {
  width: 100px;
}

.schedule__premiere--add {
  width: 90px;
  font-size: 20px !important;
  padding: 0px 20px 4px !important;
  margin-bottom: 20px;
  background-color: #fcfdfe !important;
  color: #5f2eea !important;
  border-color: #5f2eea !important;
}

.schedule__premiere--time {
  width: 90px;
  margin-bottom: 20px;
  font-size: 10px !important;
  color: black !important;
  background-color: #fcfdfe !important;
  border: none !important;
}

.schedule__admin--button {
  display: flex;
  justify-content: right;
  padding-right: 3em;
  padding-bottom: 3em;
}

.schedule__admin__button--reset {
  margin-right: 2em;
  width: 12%;
  background-color: #ffffff !important;
  color: #5f2eea !important;
  border-width: 3px !important;
  border-color: #5f2eea !important;
  font-weight: 500 !important;
}

.schedule__admin__button--submit {
  width: 12%;
  background-color: #5f2eea !important;
  color: #ffffff !important;
  border-color: #5f2eea !important;
  font-weight: 500 !important;
}

.schedule__admin--sort {
  display: flex;
  align-items: flex-end !important;
  margin-left: 40em;
  padding-bottom: 10px;
}

.schedule__admin__sort--sort {
  margin-left: 2em;
  width: 109px !important;
  border-radius: 0.8em;
}

.schedule__admin-section {
  padding: 3em !important;
}

.schedule__admin--card {
  margin-bottom: 25px;
}

.schedule__admin--image {
  padding: auto !important;
  height: 90% !important;
  width: 90% !important;
  margin-top: 1em;
  margin-left: 1em;
  margin-right: 1em;
  object-fit: contain;
}

.schedule__admin--location {
  padding-top: 1em;
}

.schedule__admin--time {
  padding: 0.2em 0.1em !important;
  justify-content: space-between !important;
  margin-bottom: 1.2em !important;
  background-color: #ffffff !important;
  color: #4e4b66 !important;
  border: none !important;
}

.schedule__admin--ticket {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 1em !important;
  padding-right: 1em !important;
  padding-bottom: 1em;
}

.schedule__admin--ticket__info h5 {
  color: #6b6b6b;
}

.showtime__schedule--book {
  width: 100%;
  background-color: #5f2eea !important;
}

.schedule__admin--button2 {
  text-align: center;
}

.button2__update {
  width: 45%;
  color: #5f2eea !important;
  background-color: #ffffff !important;
  border-color: #5f2eea !important;
}

.button2__delete {
  width: 45%;
  color: #ed2e7e !important;
  background-color: #ffffff !important;
  border-color: #ed2e7e !important;
}
